<!DOCTYPE html>
<html>
<head>
    <title>Добавить вакансию</title>
</head>
<body>
    <h1>Добавить вакансию</h1>
    <form method="post">
        <label for="title">Название вакансии:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="region">Регион:</label>
        <input type="text" id="region" name="region" required><br><br>

        <label for="salary">Зарплата:</label>
        <input type="text" id="salary" name="salary" required><br><br>

        <input type="submit" value="Добавить">
    </form>
</body>
</html>
